/Balanced Dataset A (without missing value).csv
/Balanced Dataset A.csv
/Dataset A power BI.pbix
/Dataset A_SMOTE.csv
/Final Year Project.docx
/FYP CRISP-DM Documentation.docx
/FYP Meeting Summary 20-5-2024.docx
/FYP Proposal (Industry Project) - Credit Risk Analysis 2.docx
/FYP Week1-3.pptx
/H2FY23-SGX.pdf
/Meetings
/MID TERM EVALUATION.docx
/republic-polytechnic-fy2023-financial-statements.pdf
/set A corporate_rating.csv
/set B 2014_to_2016_ratings.csv
/SMOT.xlsx